@define-color window_bg_color #282828;
@define-color window_fg_color #ebdbb2;

@define-color view_bg_color #2f2d2c;
@define-color view_fg_color #ebdbb2;

@define-color accent_bg_color #d79921;
@define-color accent_fg_color #282828;

@define-color headerbar_bg_color #282828;
@define-color headerbar_fg_color #fbf1c7;
@define-color headerbar_backdrop_color #1d2021;

@define-color popover_bg_color #3c3836;
@define-color popover_fg_color #ebdbb2;

@define-color dialog_bg_color #3c3836;
@define-color dialog_fg_color #ebdbb2;

@define-color card_bg_color #3c3836;
@define-color card_fg_color #ebdbb2;

@define-color sidebar_bg_color #282828;
@define-color sidebar_fg_color #ebdbb2;
@define-color sidebar_backdrop_color #1d2021;
@define-color sidebar_shade_color rgba(0,0,0,0.24);
@define-color sidebar_border_color rgba(0, 0, 0, 0.35);

@define-color secondary_sidebar_bg_color #32302f;
@define-color secondary_sidebar_fg_color #ebdbb2;
@define-color secondary_sidebar_backdrop_color #282828;
@define-color secondary_sidebar_shade_color rgba(0, 0, 0, 0.20);
@define-color secondary_sidebar_border_color rgba(0, 0, 0, 0.30);

@define-color destructive_bg_color #fb4934;
@define-color success_bg_color #b8bb26;
@define-color warning_bg_color #fabd2f;
@define-color error_bg_color #fb4934;

:root {
  --accent-blue: #458588;
  --accent-teal: #689d6a;
  --accent-green: #b8bb26;
  --accent-yellow: #fabd2f;
  --accent-orange: #d65d0e;
  --accent-red: #fb4934;
  --accent-pink: #b16286;
  --accent-purple: #b16286;
  --accent-slate: #665c54;

  --accent-bg-color: @accent_bg_color;
  --accent-fg-color: @accent_fg_color;

  --window-bg-color: @window_bg_color;
  --window-fg-color: @window_fg_color;

  --view-bg-color: @view_bg_color;
  --view-fg-color: @view_fg_color;

  --headerbar-bg-color: @headerbar_bg_color;
  --headerbar-fg-color: @headerbar_fg_color;
  --headerbar-backdrop-color: @headerbar_backdrop_color;

  --sidebar-bg-color: @sidebar_bg_color;
  --sidebar-fg-color: @sidebar_fg_color;
  --sidebar-backdrop-color: @sidebar_backdrop_color;
  --sidebar-shade-color: @sidebar_shade_color;
  --sidebar-border-color: @sidebar_border_color;

  --secondary-sidebar-bg-color: @secondary_sidebar_bg_color;
  --secondary-sidebar-fg-color: @secondary_sidebar_fg_color;
  --secondary-sidebar-backdrop-color: @secondary_sidebar_backdrop_color;
  --secondary-sidebar-shade-color: @secondary_sidebar_shade_color;
  --secondary-sidebar-border-color: @secondary_sidebar_border_color;

  --card-bg-color: @card_bg_color;
  --card-fg-color: @card_fg_color;

  --dialog-bg-color: @dialog_bg_color;
  --dialog-fg-color: @dialog_fg_color;

  --popover-bg-color: @popover_bg_color;
  --popover-fg-color: @popover_fg_color;

  --destructive-bg-color: @destructive_bg_color;
  --success-bg-color: @success_bg_color;
  --warning-bg-color: @warning_bg_color;
  --error-bg-color: @error_bg_color;
}
