@define-color window_bg_color #272e33;
@define-color window_fg_color #d3c6aa;

@define-color view_bg_color #1e2326;
@define-color view_fg_color #d3c6aa;

@define-color accent_bg_color #a7c080;
@define-color accent_fg_color #1e2326;
@define-color accent_color #a7c080;

@define-color headerbar_bg_color #272e33;
@define-color headerbar_fg_color #d3c6aa;
@define-color headerbar_backdrop_color #272e33;

@define-color popover_bg_color #374145;
@define-color popover_fg_color #d3c6aa;

@define-color dialog_bg_color #374145;
@define-color dialog_fg_color #d3c6aa;

@define-color card_bg_color #374145;
@define-color card_fg_color #d3c6aa;

@define-color sidebar_bg_color #2b3339;
@define-color sidebar_fg_color #d3c6aa;
@define-color sidebar_backdrop_color #1e2326;
@define-color sidebar_shade_color rgba(0,0,0,0.28);
@define-color sidebar_border_color rgba(0,0,0,0.40);

@define-color destructive_bg_color #e67e80;
@define-color success_bg_color #a7c080;
@define-color warning_bg_color #dbbc7f;
@define-color error_bg_color #e67e80;

@define-color secondary_sidebar_bg_color #374145;
@define-color secondary_sidebar_fg_color #d3c6aa;
@define-color secondary_sidebar_backdrop_color #272e33;
@define-color secondary_sidebar_shade_color rgba(0, 0, 0, 0.22);
@define-color secondary_sidebar_border_color rgba(0, 0, 0, 0.36);

:root {
  --accent-green: #a7c080;
  --accent-yellow: #dbbc7f;
  --accent-orange: #e69875;
  --accent-red: #e67e80;
  --accent-slate: #9da9a0;

  --accent-bg-color: @accent_bg_color;
  --accent-fg-color: @accent_fg_color;

  --window-bg-color: @window_bg_color;
  --window-fg-color: @window_fg_color;

  --view-bg-color: @view_bg_color;
  --view-fg-color: @view_fg_color;

  --headerbar-bg-color: @headerbar_bg_color;
  --headerbar-fg-color: @headerbar_fg_color;
  --headerbar-backdrop-color: @headerbar_backdrop_color;

  --sidebar-bg-color: @sidebar_bg_color;
  --sidebar-fg-color: @sidebar_fg_color;
  --sidebar-backdrop-color: @sidebar_backdrop_color;
  --sidebar-shade-color: @sidebar_shade_color;
  --sidebar-border-color: @sidebar_border_color;

  --secondary-sidebar-bg-color: @secondary_sidebar_bg_color;
  --secondary-sidebar-fg-color: @secondary_sidebar_fg_color;
  --secondary-sidebar-backdrop-color: @secondary_sidebar_backdrop_color;
  --secondary-sidebar-shade-color: @secondary_sidebar_shade_color;
  --secondary-sidebar-border-color: @secondary_sidebar_border_color;

  --card-bg-color: @card_bg_color;
  --card-fg-color: @card_fg_color;

  --dialog-bg-color: @dialog_bg_color;
  --dialog-fg-color: @dialog_fg_color;

  --popover-bg-color: @popover_bg_color;
  --popover-fg-color: @popover_fg_color;

  --destructive-bg-color: @destructive_bg_color;
  --success-bg-color: @success_bg_color;
  --warning-bg-color: @warning_bg_color;
  --error-bg-color: @error_bg_color;
}
