@define-color window_bg_color #282828;
@define-color window_fg_color #ebdbb2;

@define-color view_bg_color #32302f;
@define-color view_fg_color #ebdbb2;

@define-color accent_bg_color #d79921;
@define-color accent_fg_color #282828;

@define-color headerbar_bg_color #32302f;
@define-color headerbar_fg_color #fbf1c7;
@define-color headerbar_backdrop_color #1d2021;

@define-color popover_bg_color #3c3836;
@define-color popover_fg_color #ebdbb2;

@define-color dialog_bg_color #3c3836;
@define-color dialog_fg_color #ebdbb2;

@define-color card_bg_color #3c3836;
@define-color card_fg_color #ebdbb2;

@define-color sidebar_bg_color #282828;
@define-color sidebar_fg_color #ebdbb2;
@define-color sidebar_backdrop_color #1d2021;
@define-color sidebar_shade_color rgba(0,0,0,0.24);
@define-color sidebar_border_color rgba(0, 0, 0, 0.35);

@define-color destructive_bg_color #fb4934;
@define-color success_bg_color #b8bb26;
@define-color warning_bg_color #fabd2f;
@define-color error_bg_color #fb4934;

decoration {
  box-shadow: 0 2px 8px rgba(0,0,0,0.65), 0 0 0 1px mix(white,@window_bg_color,0.9);
}
decoration:backdrop {
  box-shadow: 0 3px 12px 1px transparent, 0 2px 6px 2px rgba(0, 0, 0, 0.45), 0 0 0 1px mix(white,@window_bg_color,0.95);
}
.tiled decoration, .tiled-top decoration, .tiled-bottom decoration, .tiled-right decoration, .tiled-left decoration {
  box-shadow: 0 0 0 1px mix(white,@window_bg_color,0.95), 0 0 0 20px transparent;
}
messagedialog.csd decoration, .csd.popup decoration, .maximized .csd.popup decoration {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.85), 0 0 0 1px alpha(mix(white,@window_bg_color,0.9),0.9);
}
tooltip.csd decoration {
  box-shadow: none;
}
.maximized decoration, .fullscreen decoration {
  border-radius: 0;
  box-shadow: none;
}
.ssd decoration {
  box-shadow: 0 0 0 1px mix(white,@window_bg_color,0.9);
}
.ssd decoration:backdrop {
  box-shadow: 0 0 0 1px mix(white,@window_bg_color,0.95);
}
.ssd.maximized decoration, .ssd.maximized decoration:backdrop {
  box-shadow: none;
}
.solid-csd decoration {
  box-shadow: inset 0 0 0 5px alpha(currentColor,0.5), inset 0 0 0 4px @headerbar_bg_color, inset 0 0 0 1px alpha(currentColor,0.5);
}
.solid-csd decoration:backdrop {
  box-shadow: inset 0 0 0 3px @window_bg_color;
}
